<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loveplusplus.update">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.loveplusplus.update.InstallActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service android:name="com.loveplusplus.update.DownloadService">

        </service>

        <!--数据共享-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_path"/>
        </provider>
    </application>

</manifest>